<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>

	<!-- ====================================================
	header section -->
	<header class="top-header" style="height=152px;">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
					<h2><a href="index.html">Quarentine Beds</a></h2>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default" style="height=200 px;">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>
					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      <ul class="nav navbar-nav navbar-right">
					          <li><a class="menu active" href="{% url 'search' %}">SEARCH PLACE</a></li>
                              <li><a class="menu active" href="{% url 'disp' %}">VIEW PLACES</a></li>
                              <li><a class="menu active" href="{% url 'mmi' %}">MEDIC INFO</a></li>
							  <li><a class="menu active" href="{% url 'medic_info' %}">VIEW INFO</a></li>
<!--							  <li><a class="menu active" href="/Beds_info">BEDS INFO</a></li>-->
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header>
	  <br>
                    <!-- end of header area -->
	<!-- about section -->
	<!-- service section starts here -->
    <section class="service text-center" id="service" >
		<div class="container">
			<div class="row">
                <br>
				<br>
				 <br>
				  {% if messages %}
        			{% for message in messages %}
        	<center><h3>{{ message }}</h3></center>
        			{% endfor %}
				  {% endif %}
				<h2>User INFORMATION</h2>
				<form action="{% url 'Symptoms' %}" method="post">
					{% csrf_token %}
					<div>
						<h3>NAME &nbsp&nbsp&nbsp&nbsp&nbsp
							<input class="Name" name="Name" type="text" style="width:200px;height:50px;" required></h3>
					</div>
                    <div>
						<h3>AGE &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<input class="Age" name="Age" type="text" style="width:200px;height:50px;" required></h3>
					</div>
					<div>
						<h3><p>Select Gender</p></h3>
							<h3><input type="radio" name="Gender" id="Male" value="Male">Male &nbsp
							<input type="radio" name="Gender" id="Female" value="Female">Female &nbsp
							<input type="radio" name="Gender" id="Trans-Gender" value="Trans-Gender">Trans-Gender</h3>
					</div>
                    <div>
						<h3>EMAIL&nbsp&nbsp&nbsp&nbsp
							<input class="Email" name="Email" type="email" style="width:200px;height:50px;" required></h3>
					</div>
					<div>
						<h3>CONTACT<input class="Contact" name="Contact" type="number"  style="width:200px;height:50px;" required></h3>
					</div>
					<div>
						<h3>Location
							<input class="Hometown" name="Hometown" type="text"  style="width:200px;height:50px;" required></h3>
					</div>

                    <div>
						<h3 style="width:1150px;">SYMPTOMS</h3>

                        <h3><input type="radio" name="symptom1" value="High Fever">High Fever &nbsp
                        <input type="radio" name="symptom1" value="Headache">Headache &nbsp
                        <input type="radio" name="symptom1" value="Body Pains">Body Pains &nbsp
                        <input type="radio" name="symptom1" value="Cough">Cough &nbsp
                       <input type="radio" name="symptom1" value="I'llness">I'llness</h3>

                    </div>
					<div>
						<h3><input type="radio" name="symptom2" value="High Fever">High Fever &nbsp
                        <input type="radio" name="symptom2" value="Headache">Headache &nbsp
                        <input type="radio" name="symptom2" value="Body Pains">Body Pains &nbsp
                        <input type="radio" name="symptom2" value="Cough">Cough &nbsp
                       <input type="radio" name="symptom2" value="I'llness">I'llness</h3>
					</div>
					<div>
						<h3><input type="radio" name="symptom3" value="High Fever">High Fever &nbsp
							<input type="radio" name="symptom3" value="Headache">Headache &nbsp
							<input type="radio" name="symptom3" value="Body Pains">Body Pains &nbsp
							<input type="radio" name="symptom3" value="Cough">Cough &nbsp
							<input type="radio" name="symptom3" value="I'llness">I'llness</h3>
					</div>
					<div>
						<h3><input type="radio" name="symptom4" value="High Fever">High Fever &nbsp
                        <input type="radio" name="symptom4" value="Headache">Headache &nbsp
                        <input type="radio" name="symptom4" value="Body Pains">Body Pains &nbsp
                        <input type="radio" name="symptom4" value="Cough">Cough &nbsp
                       <input type="radio" name="symptom4" value="I'llness">I'llness</h3>
					</div>
					<input class="submit-btn" type="submit" value="SUBMIT">
				</form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

			</div>
		</div>
	</section><!-- end of service section -->


	<!-- team section -->


	<!-- footer starts here -->


	<!-- script tags
	============================================================= -->
	<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script src="{% static 'js/gmaps.js' %}"></script>
	<script src="{% static 'js/smoothscroll.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>